In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
import yfinance as yf

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

In [4]:
symbol = 'AAPL'
#token = 'LZ2CUPOJF3FIIQ8Q'
#function = 'GLOBAL_QUOTE'
#api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
#api_url = f'https://www.alphavantage.co/query?function={function}&symbol={symbol}&interval=5min&apikey={token}'
#data = requests.get(api_url).json()
data = yf.Ticker(symbol)
#print(data.status_code)
print(data)

yfinance.Ticker object <AAPL>

In [13]:
# Get the historical prices for this ticker
tickerDf = data.history(period='1d', start='2024-05-30', end='2024-05-31')
marketCap= data.info['marketCap']
price= tickerDf['Open']

print(marketCap/1000000000000)

2.9752754176